
name: Build and upload python packages to Github release

on:
  workflow_dispatch:
  push:
    branches:
      - opus-release
    tags:
      - '*'
  pull_request:
    branches:
      - master
      - opus-release

env:
  CIBW_BUILD: "cp37-* cp38-* cp39-* cp310-* cp311-* cp312-* cp313-*"
  CIBW_ARCHS_LINUX: "x86_64 aarch64"
  CIBW_ARCHS_MACOS: "x86_64 arm64"
  CIBW_SKIP: "cp37-macosx_arm64" # skip unsupported combos
  CIBW_MANYLINUX_X86_64_IMAGE: "manylinux2014"
  CIBW_MANYLINUX_AARCH64_IMAGE: "manylinux2014"
  CIBW_ENVIRONMENT_LINUX: "STATIC_LIBS=1 BOOST_TOOLSET=gcc"
  CIBW_ENVIRONMENT_MACOS: "STATIC_LIBS=1 BOOST_TOOLSET=clang"
  CIBW_BEFORE_BUILD: "pip install meson ninja && make download-build-static-deps"

jobs:
  build-sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build sdist
        run: pipx run build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: source
          path: dist/*.tar.gz

  build-wheels:
    name: Build wheels for Linux and macOS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install cibuildwheel
        run: pip install cibuildwheel==2.16.2

      - name: Build wheels
        run: cibuildwheel --output-dir dist

      - uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: dist/*.whl

  make-release:
    runs-on: ubuntu-latest
    needs:
      - build-sdist
      - build-wheels
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels
          path: dist
          merge-multiple: true

      - uses: actions/download-artifact@v4
        with:
          name: source
          path: dist

      - name: Upload release
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*

      - name: Upload to PyPI
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
